*{
	box-sizing: inherit;
}
html{
	width: 100%;
	height: 100%;
	font-size: 62.5%; //burda rem'in 10 piksel olmasını ayarladık ki rahat değer verebilelim tarayıcı 16 piksel veriyor biz onun 62.5 faizini alarak 10 yaptık

	/* @include respondmax(md){
		font-size: 40%;
	}

	@include respondmin(md){
		font-size: 40%;
	}

	@include respondmin(lg){
		font-size: 56.25%;
	}

	@include respondmin(xl){
		font-size: 62.5% ; //1rem=12px
	}		 */

}

body{
	width: 100%;
	box-sizing: border-box;

}

.container{
	@include respondmin(xl){
		max-width: 1240px;
		width: 1240px;
	}
}
a,span{
	display: inline-block;
}
a{
	text-decoration: none;
}

.col-lg-6,.col-lg-4,.col-lg-12,.col-lg-9,.col-lg-3{
	@include respondmax(lg){
		padding-right: 1.6rem;
		padding-left: 1.6rem;
	}
}