.calculator{
    padding-top: 7.6rem;
    position: relative;

    @include respondmax(lg){
        padding-top: 4.8rem;
    }

    .pattern{
        z-index: -1;
        opacity: .4;

        @include respondmax(lg){
            display: none;
        }
    }

    &__img{
        width: 100%;
        object-fit: cover;

        @include respondmax(sm){
            display: none;
        }

        &Mob{
            display: none;

            @include respondmax(sm){
                display: block;
            }
        }
    }
}