.button{
	border: 1px solid $primary-color;
    background: $primary-color;
    padding: 1.2rem 1.6rem;
    @include font($mp,1.4rem,#fff,140%);
    border-radius: .8rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover{
        box-shadow: 2px 2px 20px rgba($secondary-color,.6);
        transform: translateY(-2px);

    }

    svg{
        margin-left: .8rem;
        margin-bottom: 3px;
        transition: all .3s ease-in-out;

        path{
            stroke:#fff;
        }
    }

    &.light{
        border-color: #fff;
        background: #fff;
        color: $main-text-color;


        svg {
            path{
                stroke: $main-text-color;
                   transition: all .3s ease-in-out;
            }
        }


        &:hover{
            border-color: $secondary-color;
            background: $secondary-color;
            color: #fff;

            svg{
                path{
                    stroke: #fff;
                }
            }
        }
    }
}