.contentImg{

    img{
        width: 100%;
        object-fit: cover;
        border-radius: 8rem 0;
        box-shadow: -6px 5px 18px 0px rgba(85, 192, 129, 0.10), -25px 22px 33px 0px rgba(85, 192, 129, 0.09), -56px 49px 44px 0px rgba(85, 192, 129, 0.05), -99px 87px 53px 0px rgba(85, 192, 129, 0.01), -154px 136px 58px 0px rgba(85, 192, 129, 0.00);
    }
}