.langMenu{
    position: relative;
    margin-left: 2.8rem;

    @include respondmax(lg){
        margin-top: 6rem;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    &__btn{
        position: relative;
        padding:0 2rem;

        @include respondmax(lg){
            padding-left: 0;
        }

        img{
            width: 2.5rem;
            object-fit: cover;
            @include respondmax(lg){
                display: none;
               
            }
        }

        span{
            @include font($mpm,1.6rem,#262556,normal);
            text-transform: capitalize;
            display: none;


            @include respondmax(lg){
                display: inline-block;
                color: #fff;
            }
        }

        &::after{
            content: '';
            position: absolute;
            width: 1.8rem;
            height: 1.8rem;
            right: 0;
            top: 3px;
            background-image: url('../../img/mdi_chevron-down.svg');
            background-size: cover;
            transition: all .3s ease-in-out;

            @include respondmax(lg){
                display: none;
            }
           
        }

        &.active::after{
            transform: rotate(-180deg)
        }
    }
    a{
        @include font($mpm,1.6rem,#262556,normal);
        text-transform: capitalize;

        @include respondmax(lg){
            color: #fff;
        }
    }

    &__drp{
        position: absolute;
        top: calc(100% + 15px);
        left: -30%;
        display: none;
        width: 10rem;
        background: #fff;
        box-shadow: 0 0 17px 0 #dedede;
        padding: .5rem 1rem;
        z-index: 20;

        
        &::before {
            border-color: transparent transparent #fff;
            border-style: solid;
            border-width: 0 7px 10px;
            bottom: 100%;
            content: "";
            height: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            width: 0;

            @include respondmax(lg){
                display: none;
            }
        }

        @include respondmax(lg){
            display: inline-block!important;
            position: relative;
            top: auto;
            left: auto;
            padding: 0;
            box-shadow: unset;
            width: auto;
            background: transparent;

        }

        a{
            display: block;
            padding-bottom: 1rem;
            transition: all .2s ease-in-out;
            @include font($mpm,1.6rem,#2625568c,normal);
            transition: all .2s ease-in-out;


        @include respondmax(lg){
            color: #fff;
        }

            &:first-child{
                padding-top: 1rem;
            }



            &:hover{
                color: #262556;
            }

            img{
                width: 2rem;
                object-fit: cover;
                margin-right: 1.5rem;

                @include respondmax(lg){
                    display: none;
                }
            }

            @include respondmax(lg){
                display: inline-block;

                &:not(:last-child){
                    margin-right: 2rem;
                }
            }

         

            &:hover{
                opacity: 1;
            }
        }
    }
}