.menu-icon {
    width   : 32px;
    height  : 32px;
    cursor  : pointer;
    position: relative;
    display: none;
  
    @include respondmax(lg){
      display: block;
      z-index: 200000001;
    }
  }
  
  .menu-icon span {
    background-color: #121212;
    height          : 2px;
    position        : absolute;
    width           : 100%;
    left            : 0;
    transition      : all 0.3s ease;
    border-radius   : 10px;
  }
 
  
  .menu-icon span:first-child {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 8px;
  }
  
  .menu-icon span:last-child {
    top: 16px;
  }
  
  .menu-icon.active span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.active span:first-child,
  .menu-icon.active span:last-child {
    top             : 6px;
    background-color: #fff;
  }
  
  .menu-icon.active span:first-child {
    transform: rotate(45deg);
  }
  
  .menu-icon.active span:last-child {
    transform: rotate(-45deg);
  }
  