.serviceItem{
    width: 100%;
    border-radius: 2.4rem;
    padding: 3.2rem;
    padding-bottom: 4.8rem;
    background: #FFF;
    box-shadow: 0px 41px 90px 0px rgba(161, 161, 161, 0.10), 0px 163px 163px 0px rgba(161, 161, 161, 0.09), 0px 367px 220px 0px rgba(161, 161, 161, 0.05), 0px 652px 261px 0px rgba(161, 161, 161, 0.01), 0px 1019px 285px 0px rgba(161, 161, 161, 0.00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    &__img{
        width: 100%;
        height: 27.8rem;
        margin-bottom: 1.3rem;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title{
        @include font($mpm,2rem,#0D4832,140%);
        text-align: center;
        margin-bottom: 1.6rem;
    }

    p{
        @include font($mp,1.8rem,#676767,160%);
        text-align: center;
        margin-bottom: 0;
    }

    .button{
        margin-top: 2.9rem;
    }
}