<footer class="footer">
    <div class="container">
        <div class="row footer__top">
            <div class="col-lg-5">
                <a href="" class="footer__logo">
                    <img src="./img/Logo.svg" alt="">
                </a>
                <p class="footer__text">
                    Stronger Together: Iqlimate and Our Partners Paving the Way for a Sustainable Future!
                </p>
                <form class="form-inline">
                    <div class="form-group mb-2">
                      <input type="text" class="form-control"  placeholder="Enter your e-mail address">
                      <button type="submit" class="button button-primary">SUBSCRIBE</button>
                    </div>
                  
                  </form>
            </div>

            <div class="col-lg-7">
                <div class="footer__links">
                    <a href="">about us</a>
                    <a href="">busınesses</a>
                    <a href="">Supply</a>
                    <a href="">marketplace</a>
                    <a href="">calculator</a>
                    <a href="">blog</a>
                </div>
            </div>
        </div>

        <div class="row footer__bottom">
            <div class="col-lg-10">
                <p class="footer__copyright">
                    © 2024 iQlimate. All rights reserved.
                </p>
                <div class="footer__bottom-links">
                    <a href="">Privacy Policy</a>
                    <a href="">Disclaimer / Imprint</a>
                    <a href="">Cookies Setting</a>
                </div>

             
            </div>
            <div class="col-lg-2">
                <div class="footer__social">
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="offerModal">
    <div class="offerModal__center">
        <div class="contactBox">
            <a href="" class="offerModal__close">
                &times;
            </a>
            <div class="contentImg">
                <img src="./img/modal-img.png" alt="">
            </div>
            <div class="contactForm">
                <form action="">
                    <div class="form-group">
                        <label for="">Name Surname <span>*</span></label>
                        <input type="text" class="form-control" name="" id="" placeholder="Ayhan Fırat Fındıkoğlu">
                    </div>
                    <div class="form-group">
                        <label for="">E-Mail <span>*</span> </label>
                        <input type="email" class="form-control" name="" id="" placeholder="johndoe@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="">Message</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Enter your message"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="button">GET CONTACT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>