<header class="header headerIn">
    <div class="container">
        <div class="col-lg-12 header__in">
            <a href="./index.html" class="header__logo">
                <img src="./img/Logo-white.svg" alt="">
            </a>

            <nav>
                <ul class="nav-list">
                    <li class="nav-item nav-toggle">
                        <a href="./about.html" class="nav-link">about us
                            <ul class="nav-dropdown">
                                <li class="nav-item"><a href="" class="nav-link">Submenu 1</a></li>
                                <li class="nav-item"><a href="" class="nav-link">Submenu 1</a></li>
                                <li class="nav-item"><a href="" class="nav-link">Submenu 1</a></li>
                                <li class="nav-item"><a href="" class="nav-link">Submenu 1</a></li>
                            </ul>
                        </a>
                    
                    </li>
                    <li class="nav-item nav-toggle">
                        <a href="./businesses.html" class="nav-link">busınesses
                            <ul class="nav-dropdown">
                                <li class="nav-item"><a href="" class="nav-link">Submenu 1</a></li>
                                <li class="nav-item"><a href="" class="nav-link">Submenu 1</a></li>
                                <li class="nav-item"><a href="" class="nav-link">Submenu 1</a></li>
                                <li class="nav-item"><a href="" class="nav-link">Submenu 1</a></li>
                            </ul>
                        </a>
                    </li>
                    <li class="nav-item"><a href="" class="nav-link">Supply</a></li>
                    <li class="nav-item"><a href="" class="nav-link">marketplace</a></li>
                    <li class="nav-item"><a href="./calculator.html" class="nav-link">calculator</a></li>
                    <li class="nav-item"><a href="./blog.html" class="nav-link">blog</a></li>
                    <li class="nav-item"><a href="./contact.html" class="nav-link">contact</a></li>
                </ul>

                <div class="langMenu">
                    <a href="" class="langMenu__btn">
                        <span>EN</span>
                       <img src="./img/en-flag.svg" alt="">
                    </a>
                    <div class="langMenu__drp">
                        <a href=""><img src="./img/flag-az.svg" alt="">AZ</a>
                        <a href=""><img src="./img/flag-ru.svg" alt="">RU</a>
                    </div>
                </div>
            </nav>

            <a href="javascript:void(0)" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</header>